<div id="content">

    <div id="Main" class="bg-secondary card" 
        style="z-index: 0;">                 

            <div id="Titlecard"
                class="bg-neutral card">
                <figure style="font-size: 4vw; 
                font-weight: 600;
                padding:20px">
                    <img src='assets/images/Logo.png' width="15%"> Bakal-AREA.net
                </figure>
            <div class="divider"></div>
                
            </div>
                    <div id="gallery" class="bg-neutral card">
                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Tension/Analysis">
                                            <figure class="topicpic"><img src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202111/MIT-Low-Carbon-Construction-01-press_1.jpg?itok=G3DPKt5o" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Tensions Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Analysis Calculator for Axial Tension</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Tension/Design">
                                            <figure class="topicpic"><img src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202111/MIT-Low-Carbon-Construction-01-press_1.jpg?itok=G3DPKt5o" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Tensions Designer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Axial Tension</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Compression/Analysis">
                                            <figure class="topicpic"><img src="https://images.ctfassets.net/o0otttl8ele8/3Uyow16nv6bSGbj5Ihyt2e/424819834d6b8a065034e15a161dd259/steel_beams___columns.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Compression Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Analysis Calculator for Axial Compression</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Compression/Design">
                                            <figure class="topicpic"><img src="https://images.ctfassets.net/o0otttl8ele8/3Uyow16nv6bSGbj5Ihyt2e/424819834d6b8a065034e15a161dd259/steel_beams___columns.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Compression Designer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Axial Compression</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Bending/Analysis">
                                            <figure class="topicpic"><img src="https://www.servicesteel.org/wp-content/uploads/2022/11/shutterstock_2046040592-e1667416946514-1200x900.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" >
                                              <h2 class="card-title">
                                                Flexure Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Analysis Calculator for Bending</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Bending/Design">
                                            <figure class="topicpic"><img src="https://www.servicesteel.org/wp-content/uploads/2022/11/shutterstock_2046040592-e1667416946514-1200x900.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Flexure Designer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Bending</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Shear/Analysis">
                                            <figure class="topicpic"><img src="https://images.ctfassets.net/o0otttl8ele8/34NvgJqeYxuXhEtireHGDM/3d395740c2b8348044ddec62e535fc08/Hot_rolled_steel_beams_in_construction__2_.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Shear Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Shear Analysis Calculator</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl" routerLinkActive="active" routerLink="/Shear/Design">
                                            <figure class="topicpic"><img src="https://images.ctfassets.net/o0otttl8ele8/34NvgJqeYxuXhEtireHGDM/3d395740c2b8348044ddec62e535fc08/Hot_rolled_steel_beams_in_construction__2_.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title">
                                                Shear Design Calculator
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Shear</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">NSCP 2015</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>


                    </div>
                <div class="divider"></div>
                <div id="ComingSoon">
                    <p>More Coming Soon!</p>
                </div>
                
    </div>
</div>  
<br>
