<div id="drawer" class="drawer lg:drawer-open" style="padding: 5px;" >
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content items-center justify-center">
    </div> 
    <div class="drawer-side">
      <ul class="menu min-h-full text-base-content"> 
        <!-- Sidebar content -->
          <h1>Resources</h1>
          <br>
                
<br><br><!--
          <div id="refShapeSpecs">
                  <button class="btn bg-neutral" onclick="AISC_ThicknessComp.showModal()">Width to Thickness Ratios(Axial Compression)</button>
                  <dialog id="AISC_ThicknessComp" class="modal">
                    <div class="modal-box bg-secondary">
                      <figure><img src='assets/images/Table B4.1a.png' alt="AISC Table B4.1a"> </figure>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                      <button>close</button>
                    </form>
                  </dialog>
                </div>
<br><br>
          <div id="refShapeSpecs">
                  <button class="btn bg-neutral" onclick="AISC_ThicknessFlex.showModal()">Width to Thickness Ratios(Flexure)</button>
                  <dialog id="AISC_ThicknessFlex" class="modal">
                    <div class="modal-box bg-secondary">
                      <figure><img src='assets/images/Table B4.1b.png' alt="AISC Table B4.1b"> </figure>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                      <button>close</button>
                    </form>
                  </dialog>
                </div>                -->
            
          <br><br><br><br><br><br><br><br><br><br>
          <figure><img src='assets/images/Patreon.png' alt="Support me on Patreon! jk"> </figure>
            <br>
          <figure><img src='assets/images/Kofi.png' alt="Buy me a Coffee! jk"> </figure>

      </ul>
    </div>
  </div>

